torch
torchvision
torchaudio

transformers
accelerate
datasets
sentencepiece
peft

numpy
pandas
scikit-learn
scipy

tqdm
matplotlib

gensim
nltk
regex
pronouncing

fasttext
bitsandbytes
papermill
openai
